body {
    background-color: whitesmoke;
    border: 5px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

#menuTable {
    font-size: 30px;
    float: top;
    background: transparent;
    margin-top: 5px;
}

#menuTable .menuButton {
    width: 212px;
    color: red;
    font-weight: bolder;
    text-decoration-line: none;
    display: inline-block;
    text-align: center;
    border: 5px solid darkblue;
    border-radius: 20px;
    padding: auto;
    margin-left: 13%;
    background: lightgrey;
    font-family: Arial, serif;
}

#menuTable .menuButton:HOVER {
    background: red;
    color: white;
}

#banner {
    font-weight: bolder;
    font-size: 60px;
    margin-top: -2%;
    font-family: "Ubuntu Mono", serif;
    height: 80px;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.home {
    text-align: center;
}

#banner .home:HOVER {
    color: red;
    cursor: pointer;
}

.contentImage {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    border: 8px double blue;
    border-radius: 500px;
}

p {
    line-height: 20px; /* within paragraph */
    margin-bottom: 25px; /* between paragraphs */
}

.greatAGAIN {
    font-size: 60px;
    line-height: 15px;
    color: red;
}

#otherPart {
    margin-top: 5%;
}

.info {
    text-align: left;
    margin-left: 3%;
    font-size: 50px;
    border: 6px solid red;
    line-height: 60px;
    margin-right: 68%;
    border-radius: 10px;
    color: black;
    background-color: lightgrey;
    margin-top: 3%;
}

.aboutMe {
    border: 4px solid red;
    width: 75%;
    margin: 3% auto;
    background-color: lightgrey;
}

.chowder {
    text-align: center;
    width: fit-content;
    background-color: lightgrey;
}

.me {
    text-align: left;
    font-family: "DejaVu Sans Mono", serif;
    font-size: 30px;
}

#BtnTop {
    float: right;
    width: 180px;
    height: 70px;
    font-size: larger;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 5px;
}

#BtnBiz {
    float: right;
    width: 180px;
    height: 70px;
    font-size: larger;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 5px;
}

#BtnTop:hover {
    background-color: royalblue;
}

#BtnBiz:hover {
    background-color: royalblue;
}

.smallPrint {
    text-align: left;
    font-size: x-small;
    font-family: "Times New Roman", Times, serif;
    line-height: 5px;
    margin-bottom: 5px;
}

#listTableCar {
    border: 3px solid black;
    margin-top: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

#listTableManuf {
    border: 3px solid black;
    margin-top: 2%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.listth {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}

.listtd {
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}

.listtdH {
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}

.listtdH:HOVER {
    color: red;
}

#listManuf {
    display: none;
}

#listCar {
    display: none;
}

#addCar {
    display: none;
}

#addManuf {
    display: none;
}

#cookie {
    display: none;
}

#content {
    margin: 2% 2% 2% 10%;
    font-size: 30px;
}

#submit {
    width: auto;
    height: auto;
    font-size: large;
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}

#textField {
    width: 250px;
    height: 30px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    padding-left: 10px;
    font-size: medium;
}

#dropdown {
    width: 250px;
    height: 30px;
    margin-left: 10px;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 4px;
    padding-left: 10px;
    font-size: medium;
}

