body {
    /*background-image: url("../images/carsbackground.png");*/
    background-color: white;
    /*background-repeat: repeat-y;*/
    /*background-position: top;*/
    /*background-attachment: fixed;*/
}

#menuBar {
    font-size: 30px;
    float: top;
    background: transparent;
    margin-top: 5px;
}

table {
    width: 100%;
}

#menuBar .menuButton {
    width: 212px;
    color: black;
    font-weight: bolder;
    text-decoration-line: none;
    display: inline-block;
    text-align: center;
    border: 5px solid darkblue;
    border-radius: 20px;
    padding: auto;
    margin-left: 20%;
    background: yellow;
    font-family: Arial, serif;
}

#menuBar .menuButton:HOVER {
    background: red;
    color: white;
}

#banner {
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    margin-top: -2%;
    font-family: "Ubuntu Mono", serif;
    height: 80px;
}

.contentImage {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#description {

}

#bottomLine {

}